<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BearHive - English Practice</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/admin-info.css}">
    </head>
    <body>
        <div th:fragment="content">
            <div class="content">
                <div class="content-header">
                    <h1>English Tests</h1>
                    <p>Manage English tests</p>
                </div>
                <div class="table-controls">
                    <div class="search-users">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Search tests...">
                    </div>
                    <div class="create-test">
                        <i class="fa fa-plus-circle"></i>
                        <button class="create-btn">Create</button>
                    </div>
                </div>
                <div class="test-list">
                    <div class="test-card">
                        <img>
                        <h3>IELTS Stimulation</h3>
                        <p>Volume 3</p>
                        <div class="tags">
                            <span class="type">IELTS</span>
                            <span class="level beginner">Beginner</span>
                            <span class="questions">30 questions</span>
                        </div>
                        <div class="questions">
                            <span>Created: March 17, 2025</span>
                            <span>Last modified: April 10, 2025</span>
                        </div>
                    </div>
                    <!--xoa duoi di-->
                    <div class="test-card">
                        <img>
                        <h3>IELTS Stimulation</h3>
                        <p>Volume 3</p>
                        <div class="tags">
                            <span class="type">IELTS</span>
                            <span class="level intermediate">Intermediate</span>
                            <span class="number questions">30 questions</span>
                        </div>
                        <div class="questions">
                            <span>Created: March 17, 2025</span>
                            <span>Last modified: April 10, 2025</span>
                        </div>
                    </div>
                    <div class="test-card">
                        <img>
                        <h3>IELTS Stimulation</h3>
                        <p>Volume 3</p>
                        <div class="tags">
                            <span class="type">IELTS</span>
                            <span class="level">Advanced</span>
                            <span class="questions">30 questions</span>
                        </div>
                        <div class="questions">
                            <span>Created: March 17, 2025</span>
                            <span>Last modified: April 10, 2025</span>
                        </div>
                    </div>
                    <div class="test-card">
                        <img>
                        <h3>IELTS Stimulation</h3>
                        <p>Volume 3</p>
                        <div class="tags">
                            <span class="type">IELTS</span>
                            <span class="level advanced">Advanced</span>
                            <span class="questions">30 questions</span>
                        </div>
                        <div class="questions">
                            <span>Created: March 17, 2025</span>
                            <span>Last modified: April 10, 2025</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>