<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="message  success" th:if="${message!=null}">[[${message}]]</div>
    <div class="message error" th:if="${error!=null}">[[${error}]]</div>
    <div class="form-container">
        <h2>Welcome Back</h2>
        <p>Please sign in to continue</p>
        <form th:action="@{/login}" method="post">
            <label for="email">Email Address</label>
            <input name="email" type="email" id="email" placeholder="Enter your email" required>

            <label for="password">Password</label>
            <input name="password" type="password" id="password" placeholder="Enter your password" required>

            <div class="form-footer">
                <label><input type="checkbox"> Remember me</label>
                <a href="/forgot">Forgot Password?</a>
            </div>

            <button type="submit">Sign In</button>
            <p>Don't have an account? <a href="/signup">Create Account</a></p>
        </form>
    </div>
    <div class="cloud-image">
        <img th:src="@{/image/bg/removebg-preview.png}">
    </div>
    <div class="cloud-image-2">
        <img th:src="@{/image/bg/removebg-preview-2.png}">
    </div>
</body>
</html>