<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/styles_for_login.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>Reset Password</h2>
            <form th:action="@{/reset}" method="post">
                <input type="hidden" th:value="${email}" name="email">
                <div class="input-group">
                    <label for="password">New password</label>
                    <input name="password" type="password" placeholder="Enter your new password" required>
                    <label for="password">Confirm password</label>
                    <input type="password" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="submit-btn">Đặt lại mật khẩu</button>
            </form>
        </div>
    </div>
    <div class="shape shape-1"></div>
    <div class="shape shape-2"></div>
    <div class="shape shape-3"></div>
    <div class="shape shape-4"></div>
    <div class="shape shape-5"></div>
</body>
</html>