.form-container {
  position: relative;
  z-index: 1;
  border-left: 4px solid var(--primary);
}

.form-container::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-light);
  border-radius: 50%;
  z-index: -1;
}

button[type="submit"] {
  position: relative;
  overflow: hidden;
}

button[type="submit"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(100, 100);
    opacity: 0;
  }
}

button[type="submit"]:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
